{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | SHOW
{% endblock %}

{% block body %}
    <h1>Detail of a wish</h1>
    <br>
    <h3>{{ wish.title }}</h3>
    <div>Description : {{ wish.description }}</div> <br>
    <div>Author : {{ wish.author }}</div> <br>
    <div>Creation date : {{ wish.dateCreated | date('Y-m-d') }}</div><br>
    <div>Category : {{ wish.category.name }}</div>

{% endblock %}

